.labelSpace {
  margin-right:10px
}

.btnSpace{
  margin-top:30px
}

.fieldsSpace{
  margin-bottom:10px
}

.modalForm{
  margin-top:20px;
  margin-bottom:10px
}

.liFields{
  margin-top:10px;
  margin-left:50px;
  float:left;
}


